# Python
__pycache__/
*.pyc

# Virtualno okruzenje
.venv/

# pytest cache
.pytest_cache/

# PyCharm
.idea/

# Issuer privatni kljuc
backend/keys/*.json

# Android
android/.gradle/
android/.idea/
android/build/
android/app/build/
android/local.properties
android/captures/
android/*.iml
android/app/*.iml

# Android Studio
*.iml

# Keystore / signing files
*.jks
*.keystore